@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: translate3d(rem(-10), rem(-10), 0) scale(1);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1.025);
    }
}

.wrapper {
    position: relative;
    list-style: none;
    width: rem(100%);
    margin-bottom: rem(8);

    &.active {
        .card {
            background-color: rgba(230, 230, 230);
        }
    }

    &.insertBefore,
    &.insertAfter {
    }

    &.clone {
        margin-top: rem(10);
        margin-left: rem(10);

        .card {
            transform: scale(1.025);
            animation: pop 150ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
            box-shadow: 0 0 0 rem(1) rgba(63, 63, 68, 0.05),
                0 rem(1) rem(6) 0 rgba(34, 33, 81, 0.3);
        }
    }

    &:not(.active, .clone) {
        &.insertBefore,
        &.insertAfter {
            .card:after {
                content: '';
                position: absolute;
                background-color: #4c9ffe;
            }
        }
    }

    &:not(.vertical) {
        &.insertBefore,
        &.insertAfter {
            .card:after {
                top: 0;
                bottom: 0;
                width: rem(2);
            }
        }
        &.insertBefore {
            &.clone {
                margin-left: -50%;
            }
            .card:after {
                left: rem(-9);
            }
        }
        &.insertAfter {
            &.clone {
                margin-left: 50%;
            }
            .card:after {
                right: rem(-9);
            }
        }
    }
}

.card {
    display: flex;
    flex-flow: column;
    padding: rem(12);
    position: relative;
    width: 100%;
    height: rem(200);
    background-color: rgb(245, 255, 255);
    border-radius: rem(3);
    box-shadow: 0 0 0 rem(1) rgba(63, 63, 68, 0.05),
        0 rem(1) rem(3) 0 rgba(34, 33, 81, 0.15);

    &:focus-visible:not(.active &) {
        box-shadow: 0 0 0 rem(2) #4c9ffe;
    }
}

.title {
    font-size: rem(24);
    text-align: center;
    margin-top: 0;
    margin-bottom: rem(8);
    cursor: move;
    user-select: none;
}

.desc {
    font-size: rem(14);
}

.controls {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: rem(12);
    }
}

.remove,
.edit {
    all: unset;
    outline: initial;
    color: var(--color-brown-10);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        filter: brightness(1.5);
    }
}
