.back {
    margin-bottom: rem(6);
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: rem(-0.0875);
    color: var(--color-brown-20);
    font-weight: bold;
    display: inline-block;
    cursor: pointer;

    &:before {
        content: '<';
        display: inline-block;
        width: rem(6);
        height: rem(9);
        color: var(--color-brown-20);
        margin-right: rem(4);
    }
}

.subheading {
}

.main {
    padding-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.field {
}
