.component {
    width: 100%;
    height: 100%;
    padding: rem(16) rem(30) 0;
    background-color: var(--color-gray-10);
    display: flex;
    justify-content: flex-end;
}

.group {
    display: flex;
}

.item {
    width: rem(18);
    height: rem(18);
    border: rem(1) solid var(--color-gray-80);
    border-radius: 50%;

    &:not(:last-of-type) {
        margin-right: rem(22);
    }
}
