.component {
    width: 100%;
    height: 100%;
    padding-left: var(--sidebar-width);
    padding-top: var(--header-height);
    position: relative;
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.header {
    position: fixed;
    width: calc(100% - var(--sidebar-width));
    height: var(--header-height);
    left: var(--sidebar-width);
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-white);
    z-index: 1;
}

.main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    padding: rem(24) rem(30);
    position: relative;
}
