.component {
    padding-bottom: rem(28);
    border-bottom: rem(1) solid var(--color-gray-50);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20);
}

.label {
    font-size: rem(34);
    line-height: rem(36);
    color: var(--color-brown-20);
    margin-bottom: 0;
    font-weight: bold;
    flex: 1 0 auto;

    @media (max-width: 576px) {
        flex-basis: 100%;
        text-align: center;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;

    & > *:not(:last-child) {
        margin-right: rem(10);
    }

    @media (max-width: 576px) {
        flex-basis: 100%;
        justify-content: center;
    }
}
