.component {
    width: 100%;
    height: 100%;
    padding: rem(16) rem(12);
    background-color: var(--color-gray-10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: rem(30);

    svg {
        display: block;
        width: rem(40);
        height: rem(40);
    }
}

.group {
    &:not(:last-of-type) {
        margin-bottom: rem(18);
    }
}

.item {
    width: rem(36);
    height: rem(36);
    border-radius: rem(2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.2s;
    cursor: pointer;

    &:hover {
        background-color: var(--color-gray-40);
    }

    &:before {
        content: '';
        width: rem(18);
        height: rem(18);
        border: rem(1) solid var(--color-gray-80);
        border-radius: 50%;
        background-color: var(--color-gray-10);
    }
}
