.button {
    --mdc-theme-primary: var(--color-blue-10);
    --mdc-theme-on-primary: var(--color-white);

    &[class~='mdc-button'] {
        height: rem(48);
    }
}

.buttonSuccess {
    --mdc-theme-primary: var(--color-green-10);
}

.buttonWarning {
    --mdc-theme-primary: var(--color-red-00);
}
