.textField {
    --mdc-theme-primary: var(--color-blue-10);

    * {
        border-color: var(--color-blue-10) !important;
    }
}

.floatingLabel {
    color: var(--color-blue-10) !important;

    &[class*='--float-above'] {
        font-size: rem(15) !important;
    }
}

.input {
}
