:root {
    /*
    ** colors
    */
    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray-00: #e1dad4;
    --color-gray-10: #f8f9fc;
    --color-gray-30: #e4e7f0;
    --color-gray-40: #e7eaf3;
    --color-gray-50: #eaecf4;
    --color-gray-70: #788999;
    --color-gray-80: #2f4858;

    --color-brown-10: #595959;
    --color-brown-20: #31343a;

    --color-blue-10: #0e6cc2;

    --color-green-10: #19b385;

    --color-red-00: #b10a04;

    /*
    ** dimensions
     */
    --sidebar-width: rem(60);
    --header-height: rem(40);

    /*
    ** fonts
    */
    @font-face {
        font-family: 'Roboto';
        src: url('/assets/fonts/Roboto-Regular.ttf');
    }

    @font-face {
        font-family: 'Roboto';
        src: url('/assets/fonts/Roboto-Bold.ttf');
        font-weight: bold;
    }
}

:global svg {
    display: block;
}

:global #app {
    display: contents;
}

:global body {
    all: unset;
    font-family: Roboto, sans-serif;
}

* {
    box-sizing: border-box;
}

:global .container {
    position: relative;

    margin: 0 auto;

    width: 100%;
}
